<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="dbmaster"
        version="0.0.1">

    <name>DBMaster</name>

    <description>This plugin allows bridging to Saletools database on Android.</description>
    
    <keywords>Database,Bridging,Android</keywords>

    <license>MIT</license>

    <js-module src="www/DBMaster.js" name="DBMaster">
        <clobbers target="DBMaster" />
    </js-module>

    <platform name="android">
        <!-- Add Kotlin support -->
        <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
        <hook type="after_platform_add" src="hooks/support-kotlin.js" />
        <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.10" />
        <apply-plugin>kotlin-android-extensions</apply-plugin>
        <apply-plugin>kotlin-kapt</apply-plugin>

        <!-- Cleanup Kotlin source on uninstall -->
        <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
        <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DBMasterPlugin">
                <param name="android-package" value="com.mfec.dbmaster.DBMasterPlugin"/>
            </feature>
        </config-file>
            
        <framework src="com.squareup.retrofit2:retrofit:2.4.0" />
        <framework src="com.squareup.retrofit2:converter-gson:2.4.0" />
        <framework src="com.squareup.okhttp3:logging-interceptor:3.10.0" />
        <framework src="com.afollestad.material-dialogs:core:0.9.6.0" />
        <framework src="com.facebook.stetho:stetho:1.5.0" />
        <framework src="org.jetbrains.anko:anko-sqlite:0.10.0" />
        <framework src="com.fasterxml.jackson.module:jackson-module-kotlin:2.9.2" />
        <framework src="src/DBMaster.gradle" custom="true" type="gradleReference" />
        
        <resource-file src="src/DBMaster.aar" target="libs/DBMaster.aar" />
        <source-file src="src/DBMasterPlugin.kt" target-dir="app/src/main/java/com/mfec/dbmaster" />
        <source-file src="src/build-extras.gradle" target-dir="." />
    </platform>
</plugin>
